@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&display=swap");

.box {
  padding: 5px;
  color: chocolate;
  border-radius: 15px;
  border-style: solid;
  border-color: chocolate;
  margin: 15px;
}

.todo {
  color: chocolate;
  font-family: "Otomanopee One", sans-serif;
}

.createTask input {
  color: white;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 50px;
  border-style: solid;
  border-color: rgb(226, 130, 20);
  background-color: rgb(26, 24, 24);
}

.createTask button {
  border: none;
  border-radius: 0px;
  color: black;
  background-color: chocolate;
  margin-left: 10px;
  font-size: 2ch;
}

.slip {
  display: flex;
  margin-left: 150px;
  color: chocolate;
}

.slip h3 {
  font-family: "Caveat", cursive;
  font-size: 30px;
}

.slip button {
  background-color: rgb(26, 24, 24);
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 0px;
  height: 25px;
  border: none;
}

.checkbox {
  margin-top: 40px;
  margin-right: 10px;
}
